<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--if set to true, Arnold Schwarzenegger may appear asking about a guy named John Connor-->
    <add key="InvokeSkynet" value="false"/>
  </appSettings>
  <connectionStrings>
    <add name="NorthwindConnection" connectionString="Server=localhost\SQLEXPRESS;Database=Northwind;Trusted_Connection=True;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>